process {
  withName:merge_filter_fastq {
    container = "quay.io/biocontainers/nanoq:0.10.0--h031d066_2"
}
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
  withName:minimap2 {
    container = 'quay.io/staphb/minimap2:2.25'
}
  withName:minimap2_dehost {
    container = 'quay.io/staphb/minimap2:2.25'
}
  withName:samtools_dehost {
    container = "staphb/samtools:1.17"
}
  withName:splitbam {
    container = "staphb/samtools:1.17"
}
  withName:multiqc {
	container = "quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"
}
  withName:kraken2 {
	container = "quay.io/staphb/kraken2:2.1.3"
} 
withName:kraken2_dehost {
	container = "quay.io/staphb/kraken2:2.1.3"
} 
  withName:kraken2_consensus {
	container = "quay.io/staphb/kraken2:2.1.3"
} 

  withName:krona_kraken {
    container = "quay.io/microbiome-informatics/krona:2.7.1"
}

  withName:make_report {
   container ="dhp565/rmarkdown_pagedown:v1.0.0"
 }
  withName:abricate {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }
  withName:blast_cons {
    container="ncbi/blast:2.15.0"
  } 
  withName:mlst {
    container="staphb/mlst:2.23.0-2023-08"
  }
  withName: medaka {
  container="ontresearch/medaka:shacf8338462607b17b1d68dbce212cb93daea50bad"
 }
  withName: nanoplot {
  container="nanozoo/nanoplot:1.42.0--547049c"
}
  withName: bracken {
    container= "staphb/bracken:3.1"
  }
   withName: extract_reads {
    container= "nanozoo/krakentools:1.2--13d5ba5"
  }
   withName: megahit {
    container= "nanozoo/megahit:1.2.9--87c4487"
  }
  withName: refseq_masher {
    container="dhp565/refseq_masher:14012026"
  }
  withName: meta_assembly {
    container= "dhp565/asmtools:22012026"
  }
}

